* {
    margin: 0;
    padding: 0;
}

.root {
    background-size: cover;
    background-image: url("../Images/net.jpg");
    background-position: center;
}

.nav {
    height: 10vh;
    margin-left: 2vh;
    margin-right: 2vh;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    height: 100px;
}

.btn {
    height: 40px;
    background-color: #e50914;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    padding: 10px 20px;
}

.btn:hover {
    cursor: pointer;
}

.hero-section {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.hero-content h1 {
    font-size: 3rem;
    margin-bottom: 20px;
    color: white;
}

.hero-content p {
    font-size: 1.5rem;
    margin-bottom: 30px;
    color: white;

}

.email-form {
    display: flex;
    justify-content: center;
}

.email-form input {
    padding: 10px;
    width: 300px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
}

.email-form button {
    background-color: #e50914;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    margin-left: 10px;
}

.email-form button:hover {
    background-color: #f40612;
}